{
  "root": true,
  "env": {
      "browser": true,
      "es2021": true,
      "node": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
		"@vue/prettier",
    "@vue/prettier/@typescript-eslint"
  ],
  "parserOptions": {
      "ecmaVersion": 2021
  },
  "plugins": ["simple-import-sort", "unused-imports"],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "unused-imports/no-unused-imports": "error"
  }
}
